# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store

# Env
.env
.env.local
.env.*.local

# Vite cache
.vite/
